@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/sfPro.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SquadaOne";
  src: url("../fonts/SquadaOne.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Gilroy;
}

.sf {
  font-family: SFPro;
}

.sqo {
  font-family: SquadaOne;
}

#productImage {
  background-image: url("../public/images/no_image.png");
  border-radius: 10px 10px 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
